<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET MVC Application</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Scripts/jquery-1.7.1.min.js")
    @Scripts.Render("~/Scripts/knockout-2.1.0.js")
</head>
<body>
    <header>
        <div class="content-wrapper">
            <div class="float-left">
                <p class="site-title">@Html.ActionLink("Knockout Examples", "Index", "Home")</p>
            </div>
            <div class="float-right">
                <section id="login">
                    @Html.Partial("_LoginPartial")
                </section>
                <nav>
                    <ul id="menu">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("Basic", "Index", "Basic")</li>
                        <li>@Html.ActionLink("SimpleEdit", "Edit", "Basic")</li>
                        <li>@Html.ActionLink("ClickToEdit", "ClickToEdit", "Basic")</li>
                        <li>@Html.ActionLink("Ajax", "Index", "AjaxBinding")</li>
                        <li>@Html.ActionLink("AjaxMapping", "SongList", "AjaxBinding")</li>
                        <li>@Html.ActionLink("AjaxSaving", "SavableSongList", "AjaxBinding")</li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <div id="body">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <div>
                    <pre data-bind="text: JSON.stringify(ko.toJS($data), null, 2)"></pre>
                </div>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
