@{
    ViewBag.Title = "SavableSongListWithLength";
}
@section scripts{
    @Scripts.Render("~/Scripts/jquery-ui-1.8.20.js")
    @Scripts.Render("~/Scripts/jquery-ui-1.8.20.min.js")
    @Scripts.Render("~/Scripts/jquery-ui-sliderAccess.js")
    @Scripts.Render("~/Scripts/jquery-ui-timepicker-addon.js")
    @Scripts.Render("~/Scripts/jquery-ui-sliderAccess.min.js")
    @Scripts.Render("~/Scripts/jquery-ui-timepicker-addon.min.js")
    @Scripts.Render("~/Scripts/AjaxBinding/AjaxMappingSavableViewModel.js")
    @Scripts.Render("~/Scripts/Models/SongModel.js")
}

<h2>SavableSongList</h2>

<input type="button" data-bind="click: ShowAddSongForm" value="Add Song" />
<div class="newSongForm" data-bind="slideVisible: AddingNewSong, with: NewSong">
    <dl>
        <dt>
            <b>Title:</b>
            <input data-bind="value: Title" />
        </dt>
        <dt>
            <b>Artist:</b>
            <input data-bind="value: Artist" />
        </dt>
        <dt>
            <b>Length:</b>
        </dt>
        <!-- ko with: Length -->
        <dt>
            
            <span data-bind="text: Hours"></span><b>h</b>
            <div data-bind="slider: Hours, sliderOptions: { min: 0, max: 24}"></div>
        </dt>
        <dt>
            <span data-bind="text: Minutes"></span><b>m</b>
            <div data-bind="slider: Minutes, sliderOptions: { min: 0, max: 59}"></div>
        </dt>
        <dt>
            <span data-bind="text: Seconds"></span><b>s</b>
            <div data-bind="slider: Seconds, sliderOptions: { min: 0, max: 59}"></div>
        </dt>
        <!-- /ko -->
        <dt>
            <input type="button" data-bind="click: $parent.AddSong" value="Save" />
        </dt>
    </dl>
</div>
<div>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Artist</th>
                <th>Length</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: Songs">
            <tr>
                <td><span data-bind="text: Title"></span></td>
                <td><span data-bind="text: Artist"></span></td>
                <td>
                    <span data-bind="text: Length.Hours"></span>h&nbsp;
                    <span data-bind="text: Length.Minutes"></span>m&nbsp;
                    <span data-bind="text: Length.Seconds"></span>s
                </td>
            </tr>
        </tbody>
    </table>
    <input type="button" data-bind="click: SaveSong" value="Save Song List" />
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var loadurl = '@Url.Action("LoadSongs", "AjaxBinding")';
        var saveurl = '@Url.Action("SaveSongList", "AjaxBinding")';
        var viewModel = new AjaxMappingSavableViewModel({
            LoadUrl: loadurl,
            SaveUrl: saveurl
        });
        ko.applyBindings(viewModel);
        viewModel.LoadSongs();
    });
</script>
